@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sortTab {
  overflow: hidden;
  display: flex;
  border: 1px solid #dfe5ec;
  justify-content: space-around;
  @include component-main-styles($font, $color-main, 8px, 502px, 50px);

  @media (max-width: $screen-lg) {
    width: auto;
  }

  @media (max-width: $screen-md) {
    height: auto;
  }

  &__item {
    padding: 15px;
    border: none;
    border-right: 1px solid $color-border;
    @include component-main-styles($font, $color-main, 0, 100%, auto);
    @include font-style(12px, 20px);

    cursor: pointer;
    text-align: center;

    @media (max-width: $screen-md) {
      padding: 15px 0;
      font-size: 11px;
    }

    @media (max-width: $screen-md) {
      padding: 15px 5px;
      align-self: center;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $color-hover;
    }

    &:focus-within {
      background-color: $color-hover;
      border-radius: 8px;
    }

    &--active {
      background-color: $color-accent;
      color: $color-main;

      &:hover {
        background-color: $color-accent;
      }
    }
  }
}
