@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.button {
  border: none;
  margin-top: 20px;
  color: $color-main;
  padding: 15px 0;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  @include component-main-styles($font, $color-accent, 8px, 502px, 50px);
  @include font-style(12px, 20px);

  @media (max-width: $screen-lg) {
    width: 100%;
  }
}
