@import '../../styles/variables.scss';

.warning {
  font-family: $font;
  background-color: $color-bg-warning;
  color: $color-warning;
  border: 1px solid $color-warning;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 14px;
}
