@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sidebar {
  box-shadow: $shadow;
  padding: 0;
  @include component-main-styles($font, $color-main, 8px, 232px, 255px);

  @media (max-width: $screen-lg) {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
  }

  @media (max-width: $screen-md) {
    justify-content: left;
  }

  &__header {
    display: block;
    padding: 20px 20px 10px;
    @include font-style(12px, 12px);
    letter-spacing: 0.5px;

    @media (max-width: $screen-lg) {
      width: 100%;
      padding: 5px;
    }
  }

  &__item-wrapper {
    list-style: none;

    @media (max-width: $screen-lg) {
      display: inline-block;
      width: auto;
      padding: 5px;
    }

    &:hover,
    &:focus-within {
      background-color: $color-hover;
      border: none;

      @media (min-width: $screen-lg) {
        background-color: none;
      }
    }
  }

  &__item {
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    @include font-style(13px, 20px);

    @media (max-width: $screen-lg) {
      padding: 0;
    }
  }

  &__custom-checkbox {
    appearance: none;
    position: absolute;
  }

  &__checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid $color-accent;
    border-radius: 10%;

    &::before {
      content: '';
      background: url('../../styles/img/checkmark.svg') no-repeat;
      width: 12px;
      height: 12px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      margin-top: 3px;
      transition: 0.1s ease-in;
    }
  }

  &__custom-checkbox:checked + .sidebar__checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }
}
